(cors) {
	@origin{args[0]} header Origin {args[1]}
	header @origin{args[0]} {
		Access-Control-Allow-Origin "{args[1]}"
		Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
		Access-Control-Allow-Credentials "true"
		Access-Control-Max-Age "3600"
		Access-Control-Allow-Headers "Content-Type, Authorization"
	}
}

:80 {
	encode gzip

	redir /admin /admin/
	handle_path /admin/* {
		root * /admin
		try_files {path} /index.html
		file_server
	}

	route {
		@external path /api/v1/external /api/v1/external/*
		respond @external 404

		handle_path /api* {
			reverse_proxy api:8080

			@options {
				method OPTIONS
			}
			respond @options 204
			import cors 1 https://books.fishhawk.top
			import cors 2 https://books1.fishhawk.top
			import cors 3 https://n.novelia.cc
			import cors 4 http://localhost:5173
		}
	}

	handle {
		root * /web
		try_files {path} /index.html
		file_server
	}
}

:8081 {
	@external path /api/v1/external /api/v1/external/*
	handle @external {
		uri strip_prefix /api
		reverse_proxy api:8080
	}

	respond 404
}
